/*SEÇÃO RODAPÉ*/

footer {
    width: 100%;
    background-color: black;
}

.marca {
    display: flex;
}

#logo2 {
    height: 100px;
}
#logo2:hover {
    transition: .6s;
    transform: scale(1.1);

}
#registro {
    color: #A124FB;
    margin: 45px 15px;
    font-size: 1rem;
}

.contatos{
    border-left: solid 2px #A124FB;
    padding-left: 30px;
}

.contatos a img {
    height: 60px;
    transition: 0.4s;
}

.contatos a img:hover {
    transform: scale(1.2);
    transition: 0.4s;
}

@media screen and (max-width: 950px ) {

    footer nav{
        display: block;
        margin: auto;
    }
    
    .marca {
        display: block;
        text-align: center;
    }

    #logo2{
        width: 150px;
       height: auto;
    }

    #registro{
        margin: 0;
    }

    .contatos{
        width: 231px;
        border-left: none;
        padding: 15px 05% 0;
        margin: 15px auto;
        border-top: solid 2px #A124FB;
    }

    .contatos a img {
        height: 50px;
        
    }
}