:root { 

    --var-red0 : #F50057 ;
    --var-redv : #f50000;

    --var-red1: #F56362 ; 
    --var-red2: #F53535 ; 
    --var-red3: #C40001 ; 
    --var-red4: #A70001; 
    --var-red5: #bd1d1da8; 
    --var-red6: #510000; 
    --var-gradient : background: linear-gradient(90deg , var(--var-red6) , var(--var-red4) , var(--var-red2) , var(--var-red1));
}


* { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body { 
    background-color: rgba(0, 0, 0, 0.43);
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#container { 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: flex;
    min-width: 400px;
    padding: 30px 40px;
    gap: 10px;


    background: linear-gradient(110deg , var(--var-red4) , var(--var-red2) , var(--var-red1));
    box-shadow: 10px 10px 10px rgba( 0,0,0,0.375);
    border-radius: 15px;
    
}
#img1 {
    width: 300px;
    height: auto;
 }

#form { 
    background-color: transparent;
    border: solid 2px white;
    display: flex;
    flex-direction: column;
  
    padding: 30px 40px;


    gap: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 10px;
}
#form .input {
    background-color: var(--var-red0);
    text-align: end;
    margin: 2px;
    border-radius: 7px;
    border:solid 2px var(--var-red0);
  
    
}
.input input { 
    height: 20px;
    border-radius: 4px;
    border: none;
    padding-left: 5px;
   
}
.botoes { 
    
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
    gap: 20px;
    padding: 20px;
    
    
    
}
.botoes button { 
    font-size: 1rem;
    padding: 4px 30px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.22);
    cursor: pointer;
    margin-top: 30px;
}
.botoes button:hover { 
    background-color: var(--var-red0);
    transition: 0.5s ease-in-out;
}
#resultado { 
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: solid 1px white;
    border-radius: 4px;
    
    padding: 0px;


    

    font-size: 1.5rem;
    font-weight: bold;
}
#resultado span { 
    font-size: 2rem;
    text-align: center;
}
#form h3 { 
    margin-top: 10px;
    font-size: 1.2rem;
}
.entrada {
    height: 170px;
    gap: 20px;
}